# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
warnings_are_errors: false
addons:
  apt:
    packages:
      - libnetcdf-dev
      - netcdf-bin
      - libudunits2-dev
      - libproj-dev
      - libharfbuzz-dev
      - libfribidi-dev
      - libgdal-dev

after_success:
  - Rscript -e 'covr::codecov()'


before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
